main{
    margin-top: 100px;
    flex: 1;
    /*text-align: center;*/
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

main{
    margin: 20px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.teacher-block{
    border: 1px solid var(--darck_blue);
    position: relative;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    height: 350px;
    margin: 30px;
    box-shadow: 0px 4px 5px 2px rgba(166, 175, 182, 0.6);
}
.teacher-block:hover{
    .fio{
        border-top: 3px solid var(--darck_blue);
        border-left: 3px solid var(--darck_blue);
    }
}
.add-teacher-block{
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    border: 5px dashed var(--text-gray);
    margin: 30px;
    cursor: pointer;
}
.plus1{
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--text-gray);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.plus2{
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--text-gray);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    border-radius: 10px;
}
.teacher-photo{height: 100%;min-height: 350px;width: 300px;object-fit: cover;}
.post-teacher{
    position: absolute;
    left: 0;
    background-color: var(--back);
    padding: 10px;
    width: 140px;
    height: 13px;
    overflow: hidden;
    border-radius: 0 0 10px 0;
}
.fio{
    position: absolute;
    color: var(--blue);
    border-top: 1px solid var(--darck_blue);
    border-left: 1px solid var(--darck_blue);
    right: 0px;
    bottom: 0;
    background-color: var(--back);
    padding: 10px;
    border-radius: 10px 0 0 0px;
}
