h1{
    color: var(--blue);
    font-size: 19px;
}

p{
    color: var(--darck_blue);
}

main{
    margin-top: 100px;
}

main div{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 50px;
}