main{
    padding-top: 61px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
main p, main h3{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    color: var(--text-gray);
    margin: 0px 10px;
}
a{
    color: var(--text-gray);
}
strong{
    font-size: 19px;
    color: var(--green);
}

@media(max-width: 850px){
    .scroll-progress{display: none}!important;
}

.section {
    background-color: var(--darck_blue);
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 30px;
}