<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Доступная среда  </title>
    <link th:href="@{/css/root.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/main_info_about_organization/available-environment.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <script defer th:src="@{/js/main.js}"></script>

</head>

<body>

<header th:insert="~{fragment :: header}"></header>

<main>
    <div>
        <h1>Специально оборудованные учебные кабинеты</h1>
        <p>
            Образование обучающихся с ограниченными возможностями здоровья на Ростовской детской железной дороге может
            быть организовано совместно с другими обучающимися. Ввиду отсутствия запроса со стороны потребителя
            образовательных услуг специально оборудованные учебные кабинеты отсутствуют.
        </p>
    </div>

    <div>
        <h1>Библиотеки, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья</h1>
        <p>
            Не имеется. Есть возможность пользоваться электронным каталогом библиотеки ДЦНТИ, получать тематические
            подборки, информационное сопровождение мероприятий, запросить интересующую информацию, а также найти книги,
            статьи для профессионального развития и множество литературы для саморазвития.
        </p>
    </div>

    <div>
        <h1>
            Объекты спорта, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья
        </h1>
        <p>
            Не имеется
        </p>
    </div>

    <div>
        <h1>
            Средства обучения и воспитания, приспособленные для использования инвалидами и лицами с ограниченными
            возможностями здоровья
        </h1>
        <p>
            Не имеется
        </p>
    </div>

    <div>
        <h1>
            Обеспечение беспрепятственного доступа в здание образовательной организации
        </h1>
        <p>
            Конструктивные особенности здания Детской железной дороги Ростовской железной дороги – филиала ОАО «РЖД»
            не предусматривают наличие подъемников, устройства для закрепления инвалидных колясок. Для обеспечения
            безопасности и беспрепятственного перемещения лиц с ОВЗ (ограниченными возможностями здоровья) и инвалидов
            территория выложена тротуарной плиткой. Доступ в здание к учебным кабинетам, санитарной комнате обеспечен
            посредством предоставления сопровождающего лица.
        </p>
    </div>

    <div>
        <h1>
            О специальных условиях питания
        </h1>
        <p>
            Не предусмотрено
        </p>
    </div>

    <div>
        <h1>
            Специальные условия охраны здоровья
        </h1>
        <p>
            В учреждении созданы все необходимые меры и условия охраны здоровья обучающихся, в том числе инвалидов и
            лиц с ограниченными возможностями здоровья. Образовательный процесс строится на принципах охраны жизни и
            здоровья детей, детей-инвалидов и лиц с ограниченными возможностями в соответствии с новыми
            санитарно-эпидемиологическими правилами и нормативами
        </p>
    </div>

    <div>
        <h1>
            Деятельность по сохранению и укреплению здоровья воспитанников осуществляется с учётом индивидуальных
            особенностей детей
        </h1>
        <p>
            Охрана здоровья детей осуществляется в течение всего времени пребывания ребенка на Ростовской детской
            железной дороге включает в себя мероприятия по определению оптимальной нагрузки, режима учебных занятий и
            продолжительности каникул, пропаганде и обучению навыкам здорового образа жизни; организации и созданию
            условий для профилактики заболеваний и оздоровления воспитанников; обеспечению безопасности во время
            пребывания в учреждении; профилактике несчастных случаев с обучающимися во время пребывания, проведению
            санитарно-противоэпидемических и профилактических мероприятий
        </p>
    </div>

    <div>
        <h1>
            Доступ к информационным системам и информационно-телекоммуникационным сетям, приспособленным для
            использования инвалидами и лицами с ограниченными возможностями здоровья
        </h1>
        <p>
            На официальном сайте Ростовской детской железной дороги представлена версия для слабовидящих
        </p>
    </div>

    <div>
        <h1>
            Электронные образовательные ресурсы, к которым обеспечивается доступ инвалидов и лиц с
            ограниченными возможностями здоровья
        </h1>
        <p>
            Самостоятельный доступ инвалидов и лиц с ограниченными возможностями здоровья к сети Интернет,
            в том числе инвалидов и лиц с ограниченными возможностями здоровья исключён ввиду отсутствия сети
            Интернет на Ростовской детской железной дороге
        </p>
    </div>

    <div>
        <h1>
            Наличие специальных технических средств обучения коллективного и индивидуального пользования
        </h1>
        <p>
            Ввиду отсутствия запроса со стороны потребителя образовательных услуг специально о технические
            средства обучения коллективного и индивидуального пользования отсутствуют.
        </p>
    </div>

    <div>
        <h1>
            Наличие условий для беспрепятственного доступа в общежитии, интернат.<br>
            Количество жилых помещений в общежитии, интернате, приспособленных для использования инвалидами и лицами
            с ограниченными возможностями здоровья
        </h1>
        <p>
            Общежитие и интернат отсутствуют.
        </p>
    </div>

</main>

<footer th:insert="~{fragment :: footer}"></footer>

</body>

</html>