<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Структура и органы управления ОО</title>
    <link th:href="@{/css/root.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/main_info_about_organization/management-bodies.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <script defer th:src="@{/js/main.js}"></script>

</head>

<body>

<header th:insert="~{fragment :: header}"></header>

<main>
    <p class="start-info">
        Ростовская детская железная дорога – структурного подразделения Ростовской железной дороги –
        филиала открытого акционерного общества «Российские железные дороги» осуществляет образовательную деятельность
        по адресу:  344019, г. Ростов-на-Дону, пл. Театральная, д.4
        Ростовская детская железная дорога не имеет в своей структуре структурных подразделений, представительств и филиалов.
    </p>

    <div>
        <h1>
            Органы управления образовательной организации
        </h1>
        <p>
            Управление Учреждением осуществляет учредитель — открытое акционерное общество «Российские железные дороги».
        </p>
    </div>

    <div>
        <h1>
            Юридический адрес учредителя
        </h1>
        <p>
            Открытое акционерное общество «Российские железные дороги», (ОАО «РЖД»). 107174, г. Москва, вн.тер.г.
            муниципальный округ Басманный, ул. Новая Басманная, д. 2/1, стр. 1<br><br>
        </p>
        <p>
            Управление Ростовской детской железной дорогой осуществляется на основе сочетания
            принципов единоначалия и коллегиальности.<br><br>

            Начальник детской железной дороги осуществляет руководство деятельностью учреждения
            (п.21 Положения о Детской железной дороге – структурном подразделении Ростовской железной дороги –
            филиала открытого акционерного общества «Российские железные дороги»).<br><br>

            На Ростовской детской железной дороге формируются коллегиальные органы управления,
            к которым относятся общее собрание работников Ростовской детской железной дороги, педагогический совет
            Ростовской детской железной дороги.
        </p>
    </div>

    <div>
        <h1>
            Органы самоуправления
        </h1>
        <p>
            Органом самоуправления Ростовской детской железной дороги является Совет юных железнодорожников
            Ростовской детской железной дороги
        </p>
    </div>

    <div>
        <h1>
            Местоположение коллегиальных органов и органов самоуправления
        </h1>
        <p>
            344019, г. Ростов-на-Дону, пл. Театральная, д.4
        </p>
    </div>
</main>

<footer th:insert="~{fragment :: footer}"></footer>

</body>

</html>