.block_values div {
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
}

.block_values div div{
  margin: 10px;
  padding: 10px;
  text-align: justify;
  background-color: white;
  border-radius: 10px;
  border: 2px solid;
}
.block_values h2{
  color: #E31E29;
  text-align: center;
  font-size: larger;
}
.block_values .separator{
  display: none;
}
input {
  display: none;
}
label {
  display: block;
  cursor: pointer;
}