#informationSecurity{
    font-weight: bold
}
main {
    padding-top: 61px;
}

h1 {}
.pdf-container{

    display: flex;

    flex-wrap: wrap;
}
.section {
    background: var(--gray_blue);
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    margin-right: 80px;
    border: 1px solid;
}

.section h1 {
    padding: 20px;
}
.content{
    padding-left: 40px;
    padding-right: 10px;
}
h4{
    position: absolute;
    bottom: 5px;
    backdrop-filter: blur(10px);
    z-index: 100;
    /* padding: 5px; */
}

.extra-content {}

.extra-content img {}

.extra-content a {}

.no-files {}

.pdf-block-wrapper {display: flex;flex-direction: column-reverse;margin: 20px;overflow: hidden;}

.open-link {}

.pdf-block {
    width: min-content;
    height: min-content;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border-radius: 10px;
}

.pdf-block h3 {}

.pdf-block canvas {}

.pdf-block .error {}

.pdf-block-wrapper:hover .pdf-block {}

.download-icon {}

.download-icon:hover {}

.download-icon svg {
    position: absolute;
    right: 10px;
    top: 0px;
    background-color: var(--darck_blue);
}

@media (max-width: 1150px) {
    h1 {}
    .pdf-container{
    }
    .section {
        margin: 20px;
    }

    .section h2 {
    }
    .content{
    }
    h4{
        position: unset;
    }

    .extra-content {}

    .extra-content img {}

    .extra-content a {}

    .no-files {}

    .pdf-block-wrapper {
    }

    .open-link {}

    .pdf-block {
    }

    .pdf-block h3 {}

    .pdf-block canvas {}

    .pdf-block .error {}

    .pdf-block-wrapper:hover .pdf-block {}

    .download-icon {}

    .download-icon:hover {}

    .download-icon svg {
    }
    .scroll-progress{display: none}!important;
}

@media (max-width: 522px) {
    h1 {}
    .pdf-container{
    }
    .section {

    }

    .section h2 {
    }
    .content{
    }
    h4{
    }

    .extra-content {}

    .extra-content img {}

    .extra-content a {}

    .no-files {}

    .pdf-block-wrapper {
        width: 100%;
        text-align: center;
    }

    .open-link {}

    .pdf-block {
        margin: 0 auto;
    }

    .pdf-block h3 {}

    .pdf-block canvas {}

    .pdf-block .error {}

    .pdf-block-wrapper:hover .pdf-block {}

    .download-icon {}

    .download-icon:hover {}

    .download-icon svg {
    }

}


.section {
    position: relative;
    overflow: hidden;
}
.decorate_img_pdf_bloc{
    position: absolute;
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 0;
    object-fit: cover;
    filter: brightness(0.97);
}