#informationSecurity{font-weight: bold}
main{
    display: flex;
    padding-top: 100px;
    text-align: center;
    /* margin: 0px auto; */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.class{
    /* height: 200px; */
    width: 800px;
    background-color: var(--darck_blue);
    margin: 20px;
    padding: 10px;
    padding-bottom: 26px;
    border-radius: 10px;
}
.name_pdf_document_area{
    color: white;
    padding: 10px 10px 40px;
}
.pdf_button{
    margin: 5px;
    /* margin-bottom: 5px; */
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}