main{
    display: flex;
    margin-top: 150px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}