#passengers {
    font-weight: bold
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    margin-top: 10px;
}

table {
    margin-top: 70px;
}

table.timetable {
    width: 600px;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}


table.timetable,
table.timetable td,
table.timetable th,
table.iksweb td {
    /* border: 1px solid #595959; */
    text-align: center;
}

table.timetable td,
table.timetable th,
table.iksweb td {
    padding: 3px;
    width: 30px;
    /* height: 35px; */
}

table.timetable table.prices th {
    background: #4e6982;
    color: #fff;
    font-weight: normal;
}
/* Добавляем вертикальную границу между 2-м и 3-м столбцами */
table.timetable tr td:nth-child(2) {
    border-right: 1.5px solid #595959; /* Вертикальная граница */
}
table.prices tr td[colspan="2"] {
    border-right: none;
    margin: 100px;
}

table.prices tr td:nth-child(1) {
    border-right: 1.5px solid #595959; /* Вертикальная граница */
}


table.prices tr td[colspan="2"] {
    border-right: none;
}


.prices {
    width: 319px;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.prices {
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.prices,
table.prices td,
table.prices th {
    text-align: center;
    /* border: 1px solid #595959; */
}

table.price_free,
table.price_free td,
table.price_free th {
    text-align: justify;
}

table.prices td,
table.prices th {
    padding: 3px;
    width: 30px;
    height: 35px;
}

table.prices th {
    background: #4e6982;
    color: #fff;
    font-weight: normal;
}


table.iksweb {
    width: 313px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 70px;
    display: none;
}




@media screen and (max-width: 590px) {
    table.timetable {
        display: none !important;
    }

    table.iksweb {
        display: table !important;
    }
}