*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
:root{
    --red: #E31E29;
    --darck_blue: #003C58;
    --white_blue: #B0DBF6;
    --gray_blue: #d5e6f4;
    --green: #658A42;
    --white_green: #A8CD78;
    --back: aliceblue;
    --text-gray: #aeb0b2;

}
body {
    background-color: aliceblue;
}

p, a, label, li, td{
    font-size: 18px;
    text-decoration: none;
}
h1{font-size: 34px;color: var(--darck_blue);}

::-webkit-scrollbar {
    width: 0;
}