.img_shema {
    display: block;
    margin: 70px auto;
    max-width: 900px;
}

.img_shema img {
    border-radius: 10px;
    width: -webkit-fill-available;
}

.shema_name {
    /* color: var(--red); */
    text-align: center;
    padding-bottom: 20px;
}
@media (max-width: 934px) {
    .img_shema {
        width: 100%;
        height: 100%;
    }
}