.photos-btn, .nav-btn{
    /* font-size: 15px; */
    /* position: absolute; */
    color: black;
    background-color: var(--back);
    border: none;
    cursor: pointer;
    z-index: 998;
    /* padding: 12px 24px; */
}

.photos-btn {/* padding-top: 1px; */margin: 10px;/* top: -10px; */}
.photos-btn:hover, .nav-btn:hover {
    background: var(--white_blue);
}

#prev-btn {border-radius: 10px 0px 0px 10px;/* left: 15px; */}
#next-btn {border-radius: 0px 10px 10px 0px;right: 15px;}

.slider-container {
    margin: 10px;
    position: relative;
    width: 580px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.slides-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.prev {
    opacity: 0;
    transform: translateX(-50px);
}

.slide.next {
    opacity: 0;
    transform: translateX(50px);
}

.nav-btn {
    /*position: absolute;*/
    /*color: black;*/
    /*background-color: var(--back);*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*z-index: 10;*/
    /* padding-top: 12px; */
}

.nav-btn:hover {
    /*background: var(--white_blue);*/
}

