<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="content">
    <h3>Дорогой ученик! Здесь ты найдёшь интересную информацию и полезные документы.</h3><br>
    <p>Вот несколько безопасных сайтов:</p>
    <p><a href="http://ro-edu.ru" target="_blank" style="color: black"><b>ro-edu.ru</b></a> - это оффициальный Федеральный портал где ты сможешь найти любую информацию
        и школе, уроках, и образовании в нашей стране.</p>
    <p><a href="http://kids.kremlin.ru/" target="_blank" style="color: black"><b>kids.kremlin.ru</b></a> - а тут то можешь узнать Президента России, истории
        и ещё кучу всякого интересного!</p>
</div>
</body>
</html>