<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="content">
<h3>Памятка для родителей</h3><br>
    <p style="max-width: 800px; text-align: justify">Ребёнку полезно ограничить время перед экраном до 1–2 часов в день, не считая школьных занятий. Лучше,
        если гаджеты используются только в общих комнатах, а не в спальне. Обязательно настройте родительский
        контроль и фильтры нежелательного контента. Важно спокойно объяснить, что нельзя общаться с незнакомцами в сети,
        публиковать свои фотографии, адрес или личные данные, а также переходить по сомнительным ссылкам. Учите ребёнка
        проверять любую информацию и отличать правду от фейков. Поощряйте спорт, прогулки и живое общение с друзьями и
        семьёй. И главное — будьте сами хорошим примером: меньше телефона в руках, больше внимания и тепла ребёнку.
        Безопасный интернет начинается с открытого разговора и взаимного доверия!
    </p>
</div>
</body>
</html>